.border-red {
    border: 3px dotted red;
}

.border-green {
    border: 3px dotted green;
}

.border-yellow {
    border: 3px dotted yellow;
}


body {
    position: relative;
    display: flex;
    background: #212121;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    height: 10%;
   
}

p {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace; /* Typewriter-style font */
    max-height: 500px;
    height: 80%;
    text-align: center;
    position: relative;

}

p:after {
    content: "";
    color: red;
    background-color: #766c6c;
    width: 2px;
    height: 30px;

    position: absolute;
    animation: blink 1s ease infinite;
}

#replay {
    position: absolute;
    top: 10px;
    right: 10px;
    animation-duration: 3s;
    animation-timing-function: ease;
    display: none;    
    cursor: pointer;

}

@keyframes blink {
    50% {
        transform: scaleY(0.5);
        opacity: 0;
    }
}


@keyframes comeAlive {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}